@media screen and (max-width: 1399px) {
  .first-news {
    padding-left: 18rem;
    padding-right: 18rem;
  }
}

@media screen and (max-width: 1199px) {
  .header, .main, .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .first-news {
    padding-left: 14rem;
    padding-right: 14rem;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .header, .main, .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .sidebar {
    /* max-width: 50px; */
    /* width: 100%; */
  }

  .first-news {
    padding: 3.8rem 6rem;
  }

  .more-news {
    flex-wrap: wrap;
  }

  .more-news-item:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {

  .more-news-contents {
    flex-wrap: wrap;
  }

  .more-news-img {
    /* order: 1; */
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .first-news {
    padding: 3.8rem 2rem;
  }
}

@media screen and (max-width: 575px) {

}