/* Global */
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --sidebar-color: #191718;
  --hover-color: #5C5C5C;
  --first-new-color: #EFEFEF;
  --boder-footer-color: #DEDEDE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--black-color);
  background-color: var(--white-color);
}

.container {
  max-width: 1510px;
  width: 100%;
  margin: 0 auto;
}

/* Local */
/* App */
.app-layout {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: 15rem;
}



/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--sidebar-color);
  max-width: 150px;
  width: 100%;
}

.sidebar-item {
  list-style: none;
  height: 44px;
  border-bottom: 1px solid var(--hover-color);
  padding-left: 16px;
}

.sidebar-item:hover {
  background-color: var(--hover-color);
}

.sidebar-link {
  text-decoration: none;
  color: var(--white-color);
  line-height: 4.4rem;
  text-transform: capitalize;
  display: block;
}


/* Contents */
.contents {
  max-width: 1768px;
  width: 100%;
}

.header, .main, .footer {
  padding: 0 130px;
}

/* Header */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-link {
  display: block;
  text-align: center;
  max-width: 310px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.header-logo-img {
  width: 100%;
}
/* First new */
.first-news {
  padding: 3.8rem 27rem;
  background-color: var(--first-new-color);
}

.first-new-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: var(--black-color);
  margin-bottom: 1.8rem;
}

.first-new-contents {
  font-size: 16px;
  line-height: 1.9rem;
  text-align: center;
}


/* More news */
.more-news {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  margin: 0 -2.5rem;
}

.more-news-item {
  padding: 0 2.5rem;
}

.more-news-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--black-color);
  margin-bottom: 1.8rem;
}

.more-news-contents {
  /* display: flex;
  justify-content: space-between; */
  display: inline-block;
}

.more-news-img {
display: inline-block;
max-width: 128px;
}

.more-news-img img {
  width: 100%;
  display: block;
}

.more-news-text {
  /* display: inline; */
}

/* Footer */
.footer {
  padding: 30px 130px;
  border-top: 1px solid var(--boder-footer-color);
}